$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fontSize: 2.5vw;

$bgColor: white;
$textColor: rgb(25, 25, 25);
$strongColor: rgb(194, 33, 33);
$codeBgColor: rgb(248, 246, 230);

$quoteFontStyle: italic;
$quoteColor: rgb(58, 58, 58);

@import './main.scss';