$font: "Source Serif Pro",Iowan Old Style,Apple Garamond,Palatino Linotype,Times New Roman,"Droid Serif",Times,serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
$fontSize: 2.5vw;

$bgColor: rgb(245, 244, 230);
$textColor: rgb(51, 32, 32);
$strongColor: rgb(128, 38, 38);
$codeBgColor: rgb(248, 248, 242);

$quoteFontStyle: italic;
$quoteColor: rgb(58, 58, 58);

@import './main.scss';