* {
  box-sizing: border-box;
  scrollbar-width: none;
}
html, body {
  margin: 0;
  padding: 0;
}

html, body, .presentation, .slide {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2.5vw;
  background-color: rgb(25, 25, 25);
  color: white
}

a { color: inherit; }

.presentation {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.slide {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 5%;
  overflow: hidden;
}

.slide img {
  max-width: 100vw;
  max-height: 100vh;
}

.slide-with-image {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
}

.slide-with-image .image, .slide-with-image .mermaid {
  flex-grow: 1;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

div.mermaid {
  font-family: inherit;
  font-size: 0.6em;
  padding: 1em;
}

div.mermaid svg {
  max-width: 90vw;
  max-height: 90vh;
}
